body {
    margin: 0;
    padding: 0;
    background-color: #F0F2EF;
}

.topnav {
    overflow: hidden;
    background-color: #035E7B;
}

.topnavText  {

    left: 5%;
    margin: 1.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
}
.cta{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
  }
button{
    color: #ffffff;
    background-color: #035e7b;
    font-size: 19px;
    border: 1px solid #2d63c8;
    border-radius: 12px;
    padding: 15px 50px;
    cursor: pointer
}
button:hover {
    background-color: #7a89f5;
}